:host ::ng-deep div.centerdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -225px;
    width: 450px;
    height: 600px;
    background-color: white;
    align-content: center;
    box-shadow: 10px 10px 5px grey;
  }

@media only screen and (max-width: 600px) { 
    :host ::ng-deep div.centerdiv {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -300px;
        margin-left: -175px;
        width: 350px;
        height: 600px;
        background-color: white;
        align-content: center;
      }
}

