<!--**Componente agregado para la perte de registro de usuario**-->

<div class="centerdiv animate__animated animate__zoomInDown">
  <br>
  <form >
    <div class="row justify-content-center">
            <mat-form-field appearance="fill" class="user-search-field">
              <mat-label>NAME</mat-label>
              <input matInput name=name required>
              <mat-icon matSuffix>account_circle</mat-icon>
              <mat-hint>name is required</mat-hint>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field appearance="fill" class="user-search-field">
              <mat-label>EMAIL</mat-label>
              <input matInput name=email required>
              <mat-icon matSuffix>email</mat-icon>
              <mat-hint>Email is required</mat-hint>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field appearance="fill" class="user-search-field">
              <mat-label>PHONE</mat-label>
              <input matInput name=phone required class="tesxt"> 
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint>phone is required</mat-hint>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field appearance="fill" class="user-search-field">
              <mat-label>COMPANY</mat-label>
              <input matInput name=company required>
              <mat-icon matSuffix>location_city</mat-icon>
              <mat-hint>company is required</mat-hint>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field appearance="fill" class="user-search-field">
              <mat-label>PASSWORD</mat-label>
              <input matInput type="password" name="password" required MinLength="8">
              <mat-icon matSuffix>visibility_off</mat-icon>
              <mat-hint>Password is required</mat-hint>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field appearance="fill" class="user-search-field">
              <mat-label>CONFIRM PASSWORD</mat-label>
              <input matInput type="password" name="passwordconfir" required MinLength="8">
              <mat-icon matSuffix>visibility_off</mat-icon>
              <mat-hint>Confirm Password is required</mat-hint>
            </mat-form-field>
        </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-1 justify-content-center"></div>
        <div class="col-3">
          <button mat-raised-button color="accent"><a class="nav-link" routerLink="">back</a></button>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
          <button mat-raised-button color="accent"><a class="nav-link" routerLink="">Sing up</a></button>
        </div>
      </div>
      <hr/>
      <div class="row"> 
        <div class="col col-lg-7"></div>
        <div class="col col-lg-2">
          <a class="nav-link" routerLink=""><img src="/assets/spain.ico" class="icon_languaje"> </a>
        </div>
        <div class="col col-lg-2">
          <a class="nav-link" routerLink=""><img src="/assets/english.ico" class="icon_languaje"> </a>
        </div>
      </div>
    </form> 
  </div>