<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Como es un test   * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Usare este archivo * * * * * * * * * * * -->
<!-- * * * * * * * * * * * para lo que me pediste * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="centerdiv animate__animated animate__zoomInDown">
  <br>
  <form>
    <div class="row justify-content-center">
      <h3 class="login-heading">Login</h3>
    </div>
    <div class="row justify-content-center">
      <p>Welcome back, please login to your account.</p>
    </div>
      <div class="row justify-content-center">
          <mat-form-field appearance="fill"  class="user-search-field">
            <mat-label>EMAIL</mat-label>
            <input matInput name=email required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Email is required</mat-hint>
          </mat-form-field>
      </div>
      <div class="row justify-content-center">
          <mat-form-field appearance="fill" class="user-search-field">
            <mat-label>PASSWORD</mat-label>
            <input matInput type="password" name="password" required MinLength="8">
            <mat-icon matSuffix>visibility_off</mat-icon>
            <mat-hint>Password is required</mat-hint>
          </mat-form-field>
      </div>
    <div class="row justify-content-center">
      <div class="col col-lg-7"></div>
      <div class="col col-lg-5"><a href="#">Forgot password?</a></div>
    </div>
    <br>
    <div class="row">
      <div class="col-1 justify-content-center"></div>
      <div class="col-3 justify-content-center">
        <button mat-raised-button color="accent"><a class="nav-link" routerLink="Register">Sing up</a></button>
      </div>
      <div class="col-3 justify-content-center"></div>
      <div class="col-3 justify-content-center">
        <button mat-raised-button color="accent"><a class="nav-link" routerLink="">login</a></button>
      </div>
    </div>
    <hr/>
    <div class="row"> 
      <div class="col col-lg-7"></div>
      <div class="col col-lg-2">
        <a class="nav-link" routerLink=""><img src="/assets/spain.ico" class="icon_languaje"> </a>
      </div>
      <div class="col col-lg-2">
        <a class="nav-link" routerLink=""><img src="/assets/english.ico" class="icon_languaje"> </a>
      </div>
    </div>
  </form>
</div>

<router-outlet></router-outlet>