:host ::ng-deep div.centerdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -225px;
    width: 450px;
    height: 400px;
    background-color: white;
    align-content: center;
    box-shadow: 10px 10px 5px grey;
  }

h3{font-size:36px;}

::ng-deep .mat-focused .mat-form-field-label {
  color: rgb(0, 0, 0) !important;
 }

::ng-deep.mat-form-field-underline {
  background-color: rgb(0, 27, 177) !important;
} 

::ng-deep.mat-form-field-ripple {
 background-color: rgb(0, 11, 165) !important;;
}

::ng-deep.mat-form-field-empty .mat-form-field-label {
  color: black;
}

.user-search-field {
  width: 250px;
  font-size: 14px;
  margin-bottom: -15px;
}

@media only screen and (max-width: 600px) { 
    :host ::ng-deep div.centerdiv {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -175px;
        width: 350px;
        height: 400px;
        background-color: white;
        align-content: center;
      }
}
