/* You can add global styles to this file, and also import other style files */

/*importamos algunas libreria de css*/
@import '~animate.css/animate.min';

/*colocamos todo los fondo en negro */
body{
    background-color: black;
}

/*definimos fondo del login*/
@media screen and (max-width: 2000px) {
    html  {
        background:url('/assets/fondo.jpg') no-repeat center center;
        min-height:100%;    
        background-size:cover;
    }
}

@media screen and (max-width: 992px) {
    html  {
        background:url('/assets/fondo1000.jpg') no-repeat center center;
        min-height:100%;    
        background-size:cover;
    }
}

@media screen and (max-width: 600px) {
    html  {
        background:url('/assets/fondo600.jpg') no-repeat center center;
        min-height:100%;    
        background-size:cover;
    }
  }

  
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Como es una prueba y necesito que los iconos de lenguaje sea mas esterilizado coloco global su css*/

.icon_languaje{
    width: 44px;
    height: 44px;
}

.user-search-field mat-label {
    color: black;
  }
  
.user-search-field .mat-input-element {
color: black;
}

.user-search-field .mat-input-element::placeholder {
color: gray;
}
  